[View in Colaboratory](https://colab.research.google.com/github/ANNASBlackHat/HomePricing-MultivariateRegression/blob/master/Home_Pricing_.ipynb)

**Mount Google Drive, because I'm using Google Colab**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Formula :**


y = m1 x1 + m2 x2 + m3 x3 + b

*in our case *: price = m1 \* area + m2 \* bedrooms + m3 * age + b  <br/><br/>
**price** is dependent variable <br/>
**area, bedrooms, age** are Independent variables (features) <br/>
**m1, m2, m3** are Coefficients <br/>
**b** is Intercept

In [0]:
import pandas as pd
import numpy as np
from sklearn import linear_model

### Import CSV data

In [8]:
parent_dir = "/content/drive/My Drive/Colab Notebooks/HomePricing - Multiple Features/"
df = pd.read_csv(parent_dir + "house_prices.csv")
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  594000
4  4000       5.0    8  760000

we have NaN data point, at this moment the way will handle it is by using median number for it's column

### PRE-PROCESSING DATA

Find median number for bedrooms column

In [9]:
import math
bedrooms_median = math.floor(df.bedrooms.median())
bedrooms_median

3.0

Fill median to NaN column

In [13]:
df.bedrooms = df.bedrooms.fillna(bedrooms_median)
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  594000
4  4000       5.0    8  760000

### TRAINING MODEL

In [14]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [15]:
print('Coefisiens : {}'.format(reg.coef_))
print('Interception : {}'.format(reg.intercept_))

Coefisiens : [   137. -26300.  -6900.]
Interception : 386700.0

### PREDICT

In [18]:
predict = reg.predict([[3000,3,40]])
predict

array([442800.])